






.abc {position: relative; left: -200px;width: 700px;top: 40px;
    
}

.def {position: relative;top: 80px;left: -390px;z-index: 99;height: 600px;
    
}

.ghk {position: relative;top: 200px;left: -690px;z-index: 999;height: 600px;height: 400px;
    
}


